<div class="text-center">
    <h1 class="display-4"><a asp-controller="Accounts" asp-action="LogIn">Войти</a></h1>
    <h1 class="display-4" ><a asp-controller="Accounts" asp-action="Registration" >Регистрация</a></h1>
</div>