@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><a href="/Movies/Index/">Фильмы</a></h1>
    <h1 class="display-4" ><a href="/Actors/Index/">Актеры</a></h1>
</div>
